@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 16px;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(300deg, #cbcaff 0%, #87c6fe 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: center;
    padding: 1rem;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

/* profile */
.sidenav .profile {
    margin-bottom: 30px;
    text-align: center;
}

.sidenav .profile a {

    display: flex;
    flex-direction: row;
}

.sidenav .profile a input {
    border: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin: 10px;
    width: fit-content;
}

.sidenav .profile a input:nth-of-type(1) {
    background: black;
    color: white;
}

.sidenav .profile a input:nth-of-type(2) {
    background: #87c6fe;
}


/* navbar */
.header span:nth-of-type(2) {
    font-size: 2rem;
    padding: 2rem;
}

.header span:nth-of-type(2) b {
    color: #87c6fe;
}


.header a input {
    border: none;
    padding: .5rem 1rem;
    float: right;
    margin: 10px;
    opacity: .8;
}

.header a input:hover {
    opacity: 1;
}

.header a:nth-of-type(1) input {
    background: black;
    color: white;

}

.header a:nth-of-type(2) input {
    background: #87c6fe;
}



/* filter */
.filter {
    width: 50%;
    margin: auto;
    text-align: center;
}
.filter a .active {
    color: white;
    background: #87c6fe;
}
.filter a .active:hover {
    color: black;
}
.filter a button {
    border: none;
    padding: .5rem 1rem;
    font-weight: 600;
}
.filter a button:hover {
    color: #87c6fe;
}

/* menu maker */
.maker {
    width: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    min-height: 50vh;
    margin-top: 2rem;
    padding: 20px;
}
.maker input:focus, .maker textarea {
    outline: none;
}
::placeholder {
    padding: 10px;
    opacity: .5;
}

.maker input:nth-of-type(1),
.maker input:nth-of-type(3)
 {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 2rem;
    width: 100%;
}


.maker textarea {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;

}
.maker input:nth-of-type(4) {
    border: none;
    padding:.5rem 1rem;
    color: white;
    background: #87c6fe;
}
.maker input:nth-of-type(4):hover {
    color: black;
}

/* responsive */
@media screen and (max-width: 886px) {
    header {
        zoom: 67%;
    }
   
}